In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [2]:
most_followed = "/Users/matthewvicario/Desktop/ETL-Project/Resources/most_followed.csv"
hot_100 = "/Users/matthewvicario/Desktop/ETL-Project/Resources/Hot_100.csv"

In [3]:
most_followed_df = pd.read_csv(most_followed)
most_followed_df.head()

,RANK,Name,CATEGORIES 1,CATEGORIES 2,FOLLOWERS,ER,iPOSTS ON HASHTAG,MEDIA POSTED
0,1,Selena Gomez,celebrities,musicians,105.4Mæ(=),2.62%æ(1342),14.5Mæ(48),1.2kæ(2135)
1,2,Taylor Swift,celebrities,musicians,95.2Mæ(=),1.96%æ(2040),10.5Mæ(66),958æ(2669)
2,3,Ariana Grande,celebrities,musicians,92.3Mæ(=),1.43%æ(2759),16.9Mæ(41),2.8kæ(824)
3,4,Beyonce,celebrities,musicians,90.6Mæ(=),2.53%æ(1427),9.2Mæ(70),1.4kæ(1897)
4,5,Kim Kardashian West,celebrities,tv,89.3Mæ(=),1.39%æ(2812),5.1Mæ(130),3.6kæ(550)

In [4]:
new_most_followed = most_followed_df[["Name", "CATEGORIES 1", "CATEGORIES 2", "FOLLOWERS"]]
new_most_followed.head()

                  Name CATEGORIES 1 CATEGORIES 2   FOLLOWERS
0         Selena Gomez  celebrities    musicians  105.4Mæ(=)
1         Taylor Swift  celebrities    musicians   95.2Mæ(=)
2        Ariana Grande  celebrities    musicians   92.3Mæ(=)
3              Beyonce  celebrities    musicians   90.6Mæ(=)
4  Kim Kardashian West  celebrities           tv   89.3Mæ(=)

In [5]:
new_most_followed = new_most_followed.rename(columns={"Name": "Performer","CATEGORIES 1":"Category", "CATEGORIES 2":"Subcategory","FOLLOWERS":"Followers"})
new_most_followed.head()

             Performer     Category Subcategory   Followers
0         Selena Gomez  celebrities   musicians  105.4Mæ(=)
1         Taylor Swift  celebrities   musicians   95.2Mæ(=)
2        Ariana Grande  celebrities   musicians   92.3Mæ(=)
3              Beyonce  celebrities   musicians   90.6Mæ(=)
4  Kim Kardashian West  celebrities          tv   89.3Mæ(=)

In [6]:
# start and stop variables 
start, stop = 0, -4
  
# converting to string data type 
new_most_followed["Followers"]= new_most_followed["Followers"].astype(str) 
  
# slicing till 2nd last element 
new_most_followed["Followers"]= new_most_followed["Followers"].str.slice(start, stop) 
  
# display 
new_most_followed.head(10)

             Performer     Category Subcategory Followers
0         Selena Gomez  celebrities   musicians    105.4M
1         Taylor Swift  celebrities   musicians     95.2M
2        Ariana Grande  celebrities   musicians     92.3M
3              Beyonce  celebrities   musicians     90.6M
4  Kim Kardashian West  celebrities          tv     89.3M
5    Cristiano Ronaldo  celebrities    athletes     85.1M
6         Kylie Jenner  celebrities      models     81.8M
7        Justin Bieber  celebrities   musicians     77.9M
8       Dwayne Johnson  celebrities    athletes     73.3M
9       Kendall Jenner  celebrities      models     70.9M