In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [2]:
most_followed = "/Users/matthewvicario/Desktop/ETL-Project/Resources/most_followed.csv"
hot_100 = "/Users/matthewvicario/Desktop/ETL-Project/Resources/Hot_100.csv"

In [3]:
most_followed_df = pd.read_csv(most_followed)
most_followed_df.head()

,RANK,Name,CATEGORIES 1,CATEGORIES 2,FOLLOWERS,ER,iPOSTS ON HASHTAG,MEDIA POSTED
0,1,Selena Gomez,celebrities,musicians,105.4Mæ(=),2.62%æ(1342),14.5Mæ(48),1.2kæ(2135)
1,2,Taylor Swift,celebrities,musicians,95.2Mæ(=),1.96%æ(2040),10.5Mæ(66),958æ(2669)
2,3,Ariana Grande,celebrities,musicians,92.3Mæ(=),1.43%æ(2759),16.9Mæ(41),2.8kæ(824)
3,4,Beyonce,celebrities,musicians,90.6Mæ(=),2.53%æ(1427),9.2Mæ(70),1.4kæ(1897)
4,5,Kim Kardashian West,celebrities,tv,89.3Mæ(=),1.39%æ(2812),5.1Mæ(130),3.6kæ(550)

In [4]:
new_most_followed = most_followed_df[["Name", "CATEGORIES 1", "CATEGORIES 2", "FOLLOWERS"]]
new_most_followed.head()

                  Name CATEGORIES 1 CATEGORIES 2   FOLLOWERS
0         Selena Gomez  celebrities    musicians  105.4Mæ(=)
1         Taylor Swift  celebrities    musicians   95.2Mæ(=)
2        Ariana Grande  celebrities    musicians   92.3Mæ(=)
3              Beyonce  celebrities    musicians   90.6Mæ(=)
4  Kim Kardashian West  celebrities           tv   89.3Mæ(=)

In [5]:
new_most_followed = new_most_followed.rename(columns={"Name": "Performer","CATEGORIES 1":"Category", "CATEGORIES 2":"Subcategory","FOLLOWERS":"Followers (mil)"})
new_most_followed.head()

             Performer     Category Subcategory Followers (mil)
0         Selena Gomez  celebrities   musicians      105.4Mæ(=)
1         Taylor Swift  celebrities   musicians       95.2Mæ(=)
2        Ariana Grande  celebrities   musicians       92.3Mæ(=)
3              Beyonce  celebrities   musicians       90.6Mæ(=)
4  Kim Kardashian West  celebrities          tv       89.3Mæ(=)

In [6]:
# start and stop variables 
start, stop = 0, -5
  
# converting to string data type 
new_most_followed["Followers (mil)"]= new_most_followed["Followers (mil)"].astype(str) 
  
# slicing till 2nd last element 
new_most_followed["Followers (mil)"]= new_most_followed["Followers (mil)"].str.slice(start, stop) 
  
# display 
new_most_followed.head(10)

             Performer     Category Subcategory Followers (mil)
0         Selena Gomez  celebrities   musicians           105.4
1         Taylor Swift  celebrities   musicians            95.2
2        Ariana Grande  celebrities   musicians            92.3
3              Beyonce  celebrities   musicians            90.6
4  Kim Kardashian West  celebrities          tv            89.3
5    Cristiano Ronaldo  celebrities    athletes            85.1
6         Kylie Jenner  celebrities      models            81.8
7        Justin Bieber  celebrities   musicians            77.9
8       Dwayne Johnson  celebrities    athletes            73.3
9       Kendall Jenner  celebrities      models            70.9

In [7]:
hot_100_df = pd.read_csv(hot_100)
hot_100_df.head()

,SongID,Performer,Song,spotify_genre,spotify_track_id,spotify_track_preview_url,spotify_track_album,spotify_track_explicit,spotify_track_duration_ms,spotify_track_popularity,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,"AdictoTainy, Anuel AA & Ozuna","Tainy, Anuel AA & Ozuna",Adicto,['pop reggaeton'],3jbT1Y5MoPwEIpZndDDwVq,NaN,Adicto (with Anuel AA & Ozuna),False,270740.0,91.0,...,10.0,-4.803,0.0,0.0735,0.01700,0.000016,0.1790,0.623,80.002,4.0
1,The Ones That Didn't Make It Back HomeJustin M...,Justin Moore,The Ones That Didn't Make It Back Home,"['arkansas country', 'contemporary country', '...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ShallowLady Gaga & Bradley Cooper,NaN,Shallow,"['dance pop', 'pop']",2VxeLyX666F8uXCJ0dZF8B,NaN,A Star Is Born Soundtrack,False,215733.0,88.0,...,7.0,-6.362,1.0,0.0308,0.37100,0.000000,0.2310,0.323,95.799,4.0
3,EnemiesPost Malone Featuring DaBaby,Post Malone Featuring DaBaby,Enemies,"['dfw rap', 'melodic rap', 'rap']",0Xek5rqai2jcOWCYWJfVCF,NaN,Hollywood's Bleeding,True,196760.0,86.0,...,6.0,-4.169,1.0,0.2100,0.05880,0.000000,0.0955,0.667,76.388,4.0
4,"Bacc At It AgainYella Beezy, Gucci Mane & Quavo","Yella Beezy, Gucci Mane & Quavo",Bacc At It Again,"['dfw rap', 'rap', 'southern hip hop', 'trap']",2biNa12dMbHJrHVFRt8JyO,https://p.scdn.co/mp3-preview/fa6fa6f6f363be29...,Bacc At It Again,True,228185.0,61.0,...,8.0,-5.725,0.0,0.1680,0.00124,0.000001,0.0716,0.856,135.979,4.0

In [8]:
new_hot100_df = hot_100_df[["Performer", "Song", "spotify_track_explicit", "spotify_track_popularity"]]
new_hot100_df.head()

,Performer,Song,spotify_track_explicit,spotify_track_popularity
0,"Tainy, Anuel AA & Ozuna",Adicto,False,91.0
1,Justin Moore,The Ones That Didn't Make It Back Home,NaN,NaN
2,NaN,Shallow,False,88.0
3,Post Malone Featuring DaBaby,Enemies,True,86.0
4,"Yella Beezy, Gucci Mane & Quavo",Bacc At It Again,True,61.0

In [9]:
rename_hot100_df = new_hot100_df.rename(columns={"spotify_track_explicit": "Explicit Material","spotify_track_popularity":"Track Popularity"})
rename_hot100_df.head()

,Performer,Song,Explicit Material,Track Popularity
0,"Tainy, Anuel AA & Ozuna",Adicto,False,91.0
1,Justin Moore,The Ones That Didn't Make It Back Home,NaN,NaN
2,NaN,Shallow,False,88.0
3,Post Malone Featuring DaBaby,Enemies,True,86.0
4,"Yella Beezy, Gucci Mane & Quavo",Bacc At It Again,True,61.0

In [10]:
rename_hot100_df['Performer'].unique()

array(['Tainy, Anuel AA & Ozuna', 'Justin Moore', nan, ...,
       'Hot Chelle Rae', 'Peabo Bryson/Roberta Flack', 'S.S.O.'],
      dtype=object)

In [11]:
rename_hot100_df.at[2,'Performer']= "Lady Gaga & Bradley Cooper"
rename_hot100_df.head()

,Performer,Song,Explicit Material,Track Popularity
0,"Tainy, Anuel AA & Ozuna",Adicto,False,91.0
1,Justin Moore,The Ones That Didn't Make It Back Home,NaN,NaN
2,Lady Gaga & Bradley Cooper,Shallow,False,88.0
3,Post Malone Featuring DaBaby,Enemies,True,86.0
4,"Yella Beezy, Gucci Mane & Quavo",Bacc At It Again,True,61.0

In [12]:
merged_df = pd.merge(new_most_followed,rename_hot100_df, on="Performer")
merged_df.head()

,Performer,Category,Subcategory,Followers (mil),Song,Explicit Material,Track Popularity
0,Selena Gomez,celebrities,musicians,105.4,Look At Her Now.,False,89.0
1,Selena Gomez,celebrities,musicians,105.4,Lose You To Love Me,False,96.0
2,Selena Gomez,celebrities,musicians,105.4,Same Old Love,False,66.0
3,Selena Gomez,celebrities,musicians,105.4,Come & Get It,False,71.0
4,Selena Gomez,celebrities,musicians,105.4,Back To You,False,82.0

In [13]:
group_sub = merged_df[["Performer", "Subcategory", "Followers (mil)", "Track Popularity"]]
group_sub.head()

      Performer Subcategory Followers (mil)  Track Popularity
0  Selena Gomez   musicians           105.4              89.0
1  Selena Gomez   musicians           105.4              96.0
2  Selena Gomez   musicians           105.4              66.0
3  Selena Gomez   musicians           105.4              71.0
4  Selena Gomez   musicians           105.4              82.0

In [14]:
music_inf = group_sub.groupby(["Performer"]).mean()
music_inf.head()

                Track Popularity
Performer
50 Cent                53.375000
Ariana Grande          67.076923
Beyonce                66.939394
Britney Spears         61.958333
Ciara                  60.714286

In [15]:
music_inf = music_inf.sort_values("Track Popularity", ascending = False)
music_inf.head()

                Track Popularity
Performer
Niall Horan            80.250000
Shawn Mendes           78.200000
Dwayne Johnson         74.000000
Selena Gomez           71.583333
Daddy Yankee           70.600000

In [16]:
group_sub = merged_df[["Performer", "Subcategory", "Followers (mil)", "Track Popularity"]]
group_sub.head()

      Performer Subcategory Followers (mil)  Track Popularity
0  Selena Gomez   musicians           105.4              89.0
1  Selena Gomez   musicians           105.4              96.0
2  Selena Gomez   musicians           105.4              66.0
3  Selena Gomez   musicians           105.4              71.0
4  Selena Gomez   musicians           105.4              82.0

In [17]:
track_pop = group_sub.groupby(["Performer"]).mean()["Track Popularity"]
followers = group_sub.groupby(["Performer"]).max()["Followers (mil)"]
performers = group_sub.groupby(["Performer"])["Performer"]

In [18]:
foll_vs_pop = pd.DataFrame({"Followers (mil)" : followers, "Track Popularity Ave" : track_pop})
foll_vs_pop = foll_vs_pop.sort_values(["Track Popularity Ave"], ascending=False).round(1)
foll_vs_pop.head(15)

                  Followers (mil)  Track Popularity Ave
Performer
Niall Horan                  18.3                  80.2
Shawn Mendes                 16.9                  78.2
Dwayne Johnson               73.3                  74.0
Selena Gomez                105.4                  71.6
Daddy Yankee                 13.3                  70.6
One Direction                17.2                  69.5
Zendaya                        36                  68.0
Ariana Grande                92.3                  67.1
Beyonce                      90.6                  66.9
Demi Lovato                  51.3                  64.0
Miley Cyrus                  57.8                  63.5
Justin Timberlake            39.6                  63.3
Britney Spears               14.5                  62.0
Shakira                      28.4                  61.8
Taylor Swift                 95.2                  61.3

In [26]:
#Create Databse Engine
connection_string = "postgres:postgres@localhost:5432/foll_vs_pop"
engine = create_engine(f'postgresql://{connection_string}', pool_pre_ping=True)

In [27]:
#Confirm tables 
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)